<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fullstack API ToDo List</title>

    <!-- Bootstrap CDN Updated to include the latest versions-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/5.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css" type="text/css"/>

  </head>
  <body>
  <header>
    <h1>Todo<span>list</span></h1>
    <h2>Simple Node.js with Express Powered List of Reminders!</h2>
    <section class="form">
      <input type="text" id="todoInput" placeholder="Type your task here!">
    </section>
  <ul class="list">
  </ul>
  </header>

    <!-- jQuery v 3.3.1 (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
